.documents .pageimg{
    max-width:90% !important;
}

.documents .controlpanel{
    padding: 10px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

.documents .imgpanel{
    text-align: center;
}

.documents .downpad{
    height: 20px;
}