/* Support */

.support .msg {
    border:1px solid;
    border-radius: 5px;
    border-color: #A9A9A9;

    padding: 2px;
    margin-bottom:10px;
}

.support .answer {
    background-color: #CEE7FF;
}

.support .date {
    margin-left:10px;
    margin-right:10px;
}

.support .content {
    display:block;
    margin:10px;
    margin-bottom:0px;
}


.support .editmsg{
    border:1px solid;
    border-radius: 5px;
    border-color: #A9A9A9;

    padding: 10px;
    margin-bottom:10px;

}

